---
layout: layouts/base.njk
title: Archive
permalink: /blog/archive/
---
<h1>Archive</h1>
{%- set monthCounts = {} %}
{%- for post in posts %}
  {%- set key = post.year + "-" + post.month %}
  {%- if monthCounts[key] %}
    {%- set monthCounts = monthCounts | mergeObj(key, monthCounts[key] + 1) %}
  {%- else %}
    {%- set monthCounts = monthCounts | mergeObj(key, 1) %}
  {%- endif %}
{%- endfor %}
<div class="archive-list">
{%- for post in posts %}
  {%- set yr = post.year %}
  {%- set mo = post.month %}
  {%- set prevYr = "" %}
  {%- set prevMo = "" %}
  {%- if loop.index0 > 0 %}
    {%- set prevYr = posts[loop.index0 - 1].year %}
    {%- set prevMo = posts[loop.index0 - 1].month %}
  {%- endif %}
  {%- if yr != prevYr %}
    {%- if loop.index0 > 0 %}</ul>{% endif %}
  <h2>{{ yr }}</h2>
  {%- endif %}
  {%- if yr != prevYr or mo != prevMo %}
    {%- if loop.index0 > 0 and yr == prevYr %}</ul>{% endif %}
  <h3>{{ mo | monthName }} <span class="count">({{ monthCounts[yr + "-" + mo] }})</span></h3>
  <ul class="post-list">
  {%- endif %}
  <li>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | dateDisplay }}</time>
  </li>
{%- endfor %}
</ul>
</div>
