---
layout: layouts/base.njk
title: Blog
pagination:
  data: posts
  size: 5
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
<h1>Blog</h1>
{%- for post in pagination.items %}
<article class="post">
  <header class="post-header">
    <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    <time datetime="{{ post.date | htmlDateString }}"><a href="/blog/{{ post.year }}/{{ post.month }}/{{ post.day }}/">{{ post.date | dateDisplay }}</a></time>
    {%- if post.author and post.author.username != "devhawk" %}
    <span class="post-author">by {{ post.author.name }}</span>
    {%- endif %}
    {%- if post.categories and post.categories.length %}
    <span class="post-categories">
      {%- for cat in post.categories %}
      <a href="/blog/categories/{{ cat.slug }}/" class="badge badge-category">{{ cat.name }}</a>
      {%- endfor %}
    </span>
    {%- endif %}
    {%- if post.series %}
    <span class="post-series">
      <a href="/blog/series/{{ post.series.slug }}/" class="badge badge-series">{{ post.series.name }}</a>
    </span>
    {%- endif %}
  </header>
  <div class="post-content">
    {{ post.content | markdownify | safe }}
  </div>
</article>
{%- endfor %}
<nav class="pagination" aria-label="Blog pagination">
  {% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}" class="pagination-prev">&laquo; Newer</a>
  {% endif %}
  <span class="pagination-info">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>
  {% if pagination.href.next %}
  <a href="{{ pagination.href.next }}" class="pagination-next">Older &raquo;</a>
  {% endif %}
</nav>
