---
layout: layouts/base.njk
pagination:
  data: collections.dayList
  size: 1
  alias: archiveDay
permalink: "/blog/{{ archiveDay.year }}/{{ archiveDay.month }}/{{ archiveDay.day }}/"
eleventyComputed:
  title: "{{ archiveDay.month | monthName }} {{ archiveDay.day }}, {{ archiveDay.year }}"
---
<h1><a href="/blog/{{ archiveDay.year }}/">{{ archiveDay.year }}</a> &rsaquo; <a href="/blog/{{ archiveDay.year }}/{{ archiveDay.month }}/">{{ archiveDay.month | monthName }}</a> &rsaquo; {{ archiveDay.day }}</h1>
<p>{{ archiveDay.count }} post{{ "s" if archiveDay.count != 1 }}</p>
<ul class="post-list">
{%- for post in posts %}
  {%- if post.year == archiveDay.year and post.month == archiveDay.month and post.day == archiveDay.day %}
  <li>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | dateDisplay }}</time>
  </li>
  {%- endif %}
{%- endfor %}
</ul>
