---
layout: layouts/base.njk
permalink: /
---
<div class="about-content">
  {{ aboutMe | markdownify | safe }}
</div>
<h2>Recent Posts</h2>
<ul class="post-list">
{%- for post in posts | head(5) %}
  <li>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | dateDisplay }}</time>
  </li>
{%- endfor %}
</ul>
