---
layout: layouts/post.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/blog/{{ post.year }}/{{ post.month }}/{{ post.day }}/{{ post.slug }}/"
eleventyComputed:
  title: "{{ post.title }}"
---
